html,
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.intro {
  background: #686767;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro .container {
  display: flex;
  align-items: center;
  /*up/down*/
  justify-content: space-between;
  /* left/right */
  padding: 18px 20px;
}

.logo {
  width: 100px;
  height: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;

}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #444343;
  border-radius: 5px;
}

main {
  padding: 20px;
}

.overview h1 {
  text-align: center;
  margin: 0 0 20px 0;
}

.page-details {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 25px;
  padding-top: 10px;
  align-items: start;
  margin: 0;
}

.page-details h3 {
  margin: 0;
}

.page-details h2 {
  grid-column: 1 / -1;
  margin: 0;
  justify-self: center;
}

.page-details img {
  width: 100%;
  height: auto;
  margin: 0;
}

details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-bottom: 10px;
}

.page-description {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-outcomes {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-outcomes h2 {
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .page-details {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
  }

  .influence {
    grid-template-columns: 1fr;
  }
}

.influence-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 40px;
}

.influence img {
  width: 45%;
  height: auto;
  justify-self: center;
  border-radius: 10px;
}

footer {
  text-align: center;
  font-size: .8em;
  line-height: 4em;
  margin-top: 1em;
}

.featured-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 40px;
}

.featured-description img {
  width: 50%;
  height: auto;
  justify-self: center;
  border-radius: 10px;
}

.member-popover {
  width: 50%;
  height: 95%;
}

.member-popover img {
  display: block;
  margin: 55px auto 0;
}

.member-popover h2 {
  text-align: center;
  
}
.member-popover p{
  margin: 0 65px 0 ;
}